{% extends 'base.html' %}

{% block content %}
    <main class="container">   
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center mt-5">
                <form action="/signup/" method="POST" class="card card-body">
                    <h1 class="text-center">Registrarse</h1>

                    {{ error }}
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="username">Usuario</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Escriba el usuario deseado">
                        
                    </div>
                    <div class="mb-3">
                        <label for="password1">Password</label>
                        <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
                        
                    </div>
                    <div class="mb-3">
                        <label for="password2">Confirmar Password</label>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirmar Password">
                        
                    </div>


                    <button class="btn btn-primary">
                        SignUp
                    </button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}